body {
    font-family: 'Open Sans', sans-serif;
}

.barra {
    background-color: #7138ff;
    color: black;
}

.secao {
    width: 80%;
    padding-bottom: 30px;
}

.titulo-secao {
    padding-bottom: 20px;
}

.barra-progresso {
    width: 80%;
}